.App {
  text-align: center;
}
body{
  height: 100%;
}
.App, section.ant-layout.ant-layout-has-sider,aside.ant-layout-sider.ant-layout-sider-dark,section.ant-layout.ant-layout-has-sider{
  height: 100%;
}
li.ant-menu-item.div-sidebar-menu-bottom{
  position: absolute;
  bottom: 0;
}